:ruby
  expansion = nil

  label = case language.downcase
    when 'js', 'javascript'
      expansion = 'Javascript'
      'JS'

    when 'elm'
      'Elm'

    when 'scss'
      'SCSS (Sass)'

    else
      language.upcase
  end

%aside.code-block{ 'data-language': language }
  %header.code-block__header
    %strong.code-block__title{ title: expansion }= label
  %code.code-block__code
    - content.each do |line|
      .code-block__line= line.gsub( /[\r\n]+/, '' ).html_safe
