/// ==========================================================================
/// #
/// # Beans
/// #
/// ==========================================================================

.bean {
  --bg: var(--smalltext);
  --fg: var(--background);

  display: inline-block;

  margin: 0;
  padding: .15em .6em;
  border-radius: .667em;

  background: var(--bg);
  color: var(--fg);

  @include fsz(smallest, 1.3333);
  @include fwt(semi);
  text-transform: uppercase;
  vertical-align: middle;

  & + & { margin-left: 1em; }
}

/// Colourways
/// ==========================================================================
.bean--primary {
  --bg: var(--accent1_hi);
  --fg: var(--accent1_tx);
}

.bean--secondary {
  --bg: var(--accent1_lo);
  --fg: var(--accent1_tx);
}

.bean--negative {
  --bg: var(--button-dan-bg);
  --fg: var(--button-dan-tx);
}
