/// ==========================================================================
/// #
/// #
/// #
/// ==========================================================================

.media-selector {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax( rem(150), auto ));
  gap: rem(20);
  align-items: center;
}

/// Placeholder element
/// ==========================================================================
.media-selector__preload {
  height: rem(150);
  width:  rem(150);

  background: var(--alt_bg);
}

/// button
/// ==========================================================================
.media-selector__add {
  margin: 0 auto 0 0;
}
