/// ==========================================================================
/// #
/// # Stats stuffs
/// #
/// ==========================================================================

.stats-grid {
  @include mq( huge ) {
    display: grid;
    grid-gap: rem(20);
    grid-template: 'graph graph' auto 'tableL tableR' auto / 1fr 1fr;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  border: 1px solid var(--keyline);

  &.-graph { grid-area: graph; }

  &.-table {
    grid-area: tableL;

    & + .-table { grid-area: tableR; }
  }

  & + & {
    margin: rem(20) 0 0;

    @include mq(huge) { margin: 0; }
  }
}

.stats__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: rem(20);
}

.stats__title {
  margin: 0;
  border-bottom: 1px solid var(--keyline);
  line-height: rem(20);
}

.stats__content {
  flex: 1;
  order: 2;
  background: var(--background);
}

/// Filters
/// ==========================================================================
.stats__filters {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-left: 1em;

  .btn.-current {
    --bg: var(--accent-5);
    --hv: var(--accent-3);
    --fg: var(--grey-0);

    box-shadow: inset var(--bg) 0 0 0 1px;
  }
}

.stats__filter {
  & + & { margin-left: rem(10); }
}

/// Table
/// ==========================================================================
table.stats__table {
  width: 100%;

  th,
  td { padding: rem(10) rem(20); }

  th { text-align: left; }

  thead th {
    border-bottom: 1px solid var(--keyline);
    padding: rem(20) rem(20) rem(10);

    @include fwt(bold);
    @include fsz(tertiary, 1);

    &:last-child { text-align: right; }
  }

  tbody {
    td { text-align: right; }

    tr:first-child {
      th,
      td { padding-top: rem(10); }
    }

    tr:nth-child(even) { background: var(--accent-a); }

    span,
    small { display: inline-block; }

    small {
      margin-left: 1em;
      width: 3.5em;
      @include fsz(small, 16);
    }

    td.-empty.-empty {
      padding: rem(40) rem(20);
      @include fsz(tertiary, 1);
      text-align: center;
    }
  }
}

/// ==========================================================================
/// # Graph stuff
/// ==========================================================================

/// Container
/// ==========================================================================
.stats__line-graph {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: rem(300);

  &::before {
    display: block;
    width: 100%;
    padding-top: 56.25%;
    content: '';
  }

  .stats__empty {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    @include fsz(tertiary, 1);

    .-empty & { display: block; }
  }
}

/// Chartist
/// ==========================================================================
.ct-chart-line {
  position: absolute;
  top: rem(20);
  left: rem(20);
  height: calc( 100% - #{rem(40) }) !important; // stylelint-disable-line declaration-no-important
  width:  calc( 100% - #{rem(40) }) !important; // stylelint-disable-line declaration-no-important

  .-empty & { visibility: hidden; }
}

.ct-series {
  fill: none;
  stroke-width: 2;
  stroke: var(--neutral-3);
}

.ct-label {
  display: flex;

  color: var(--text);
  @include fsz(small, 1);

  &.ct-vertical {
    align-items: flex-end;
    justify-content: flex-end;
    transform: translateY(rem(5));
  }

  &.ct-horizontal {
    align-items: flex-start;
    justify-content: center;

    padding-top: .5em;

    transform: translateX(-50%);
  }

  &.ct-month {
    justify-content: flex-start;
    align-items: flex-end;
    padding: rem(3) 0 0 rem(5);
    transform: none;

    @include fsz( base );
    white-space: nowrap;
  }
}

.ct-grid {
  stroke: var(--grey-7);
  stroke-width: 1;

  &.ct-major,
  &.ct-minor { stroke: var(--grey-5); }
  &.ct-minor { stroke-dasharray: 4 6; }
}
