/// ==========================================================================
/// #
/// # Styles for taggable functionality
/// #
/// ==========================================================================

.taggable {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 90%;
  padding: 0 .8em;
  border: 1px solid var(--keyline);

  &.-focus { border-color: var(--accent1_lo); }
}

/// The search field
/// ==========================================================================
.taggable__field {
  appearance: none;
  flex: 1;

  padding: .5em 0;
  margin: 0;
  border: 0;
  outline: 0;
}

/// Instances
/// ==========================================================================
.taggable__instance {
  margin: .2em .8em .2em 0;
  padding: .4em .8em;

  border-radius: rem(5);

  background: var(--accent1_lo);
  color: var(--accent1_tx);

  @include fsz( small, 1 );
  @include fwt( semi );
}

.taggable__remove {
  display: inline-block;

  margin: 0 0 0 1em;
  color: currentColor;

  vertical-align: middle;
}
