/// ==========================================================================
/// #
/// # Base-level styles for across the site
/// #
/// ==========================================================================

/// ==========================================================================
/// # Colourways
/// ==========================================================================
:root {
  // backgrounds
  --background: #fff;
  --midground:  #f2f2f2;
  --alt_bg:     rgba(0, 0, 0, .02);

  // foregrounds
  --text:       #333;
  --smalltext:  #666;

  // links
  --link:       #E44849;

  // theme colours
  --accent1_hi: hsl(12, 79%, 59%);
  --accent1_lo: hsl(296, 31%, 45%);
  --accent1_tx: #fff;
  --accent2_hi: #eee;
  --accent2_lo: #e6e6e6;
  --accent2_tx: var(--text);

  // boxes + stuff
  --keyline:    rgba(0, 0, 0, .1);
  --border:     rgba(0, 0, 0, .3);

  // button ways
  --button-def-bg: hsl(0, 0%, 93%);
  --button-def-hv: hsl(0, 0%, 88%);
  --button-def-tx: var(--text);
  --button-def-ht: var(--text);

  --button-pri-bg: var(--accent1_hi);
  --button-pri-hv: hsl(12, 79%, 56%);
  --button-pri-tx: #fff;
  --button-pri-ht: #fff;

  --button-sec-bg: var(--accent1_lo);
  --button-sec-hv: hsl(296, 31%, 43%);
  --button-sec-tx: #fff;
  --button-sec-ht: #fff;

  --button-dan-bg: var(--background);
  --button-dan-hv: var(--background);
  --button-dan-tx: hsl(0, 100%, 30%);
  --button-dan-ht: hsl(0, 100%, 40%);

  // semantic
  --safe:       #090;
  --caution:    #FC0;
  --danger:     #F00;
  --neutral:    #009;
}

html.dark-mode {
  --background: #223;
  --midground:  #444;

  --text:       #ccc;
  --smalltext:  #aaa;
}

/// ==========================================================================
/// # Everything else
/// ==========================================================================
html,
body {
  background: var(--background);
  color: var(--text);
}

/// Set running margins
/// ==========================================================================
* { // sass-lint:disable-line no-universal-selectors
  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}

/// Basic link styles
/// ==========================================================================
a {
  color: var(--link);
}
