/// ==========================================================================
/// #
/// # Basic stuff
/// #
/// ==========================================================================

/// ==========================================================================
/// # Icon stuffs
/// ==========================================================================

/// Hide the symbol definition
/// ==========================================================================
.svg-icon-defs { display: none; }

/// Inline stuffs
/// ==========================================================================
.svg-icon {
  display: inline-block;
  width:   1em;
  height:  1.3em;
  vertical-align: middle;
  line-height: 1;
  fill: currentColor;
}

/// ==========================================================================
/// # Accessibility helpers
/// ==========================================================================
.a11y {
  position: absolute;
  transform: scale(0);
  opacity: 0;
}

/// ==========================================================================
/// # Other things
/// ==========================================================================

/// Set running margins
/// ==========================================================================
* { // sass-lint:disable-line no-universal-selectors
  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}
