/// ==========================================================================
/// #
/// # Basic front-end styles
/// #
/// ==========================================================================

/// ==========================================================================
/// # Colours (sorry, IE11!)
/// ==========================================================================
:root {
  // == Basic palette
  --grey-0:   #fff;
  --grey-1:   #eee;
  --grey-2:   #777;
  --grey-3:   #444;
  --grey-4:   #333;
  --grey-5:   #000;
  --smoke-1:  rgba(0, 0, 0, .5);
  --smoke-2:  rgba(0, 0, 0, .1);
  --smoke-3:  rgba(0, 0, 0, .05);
  --hint-1:   #E44849;
  --hint-2:   #D14244;
  --hint-3:   #FFE6E6;
  --hilite:   #FFE066;

  // == Link styles (to be inherited)
  --link-tx:  var(--grey-4);  // text colour
  --link-ul:  var(--hint-1);  // underline
  --link-hv:  var(--hint-1);  // hover colour
  --link-ol:  var(--hilite);  // focus outline colour
  --link-rv:  var(--grey-0);  // reverse colour (used for some buttons)

  // == Also, custom stuff for blockquotes
  --bq-bd:    rgba(228, 72, 73, .95);
  --bq-bg:    rgba(228, 72, 73, .15);
  --bq-tx:    var(--grey-4);

  // == Various dark-mode–able things
  --site-top-bar: #000;
  --site-top-link-outline: #{rem(4)};
  --masthead-super-text: var(--grey-0);

  --project-image-filter: none;
  --project-link-tx: var(--grey-0);
  --project-link-hv: var(--grey-0);
  --project-link-bg: var(--grey-3);

  --block-accent-tx: var(--hint-3);
  --block-accent-link-tx: var(--grey-0);
  --block-accent-link-ul: var(--grey-5);
  --block-accent-link-hv: var(--hilite);
  --block-accent-link-rv: var(--grey-5);
}

@media (prefers-color-scheme: dark)
{
  :root {
    // == Basic palette
    --grey-5:   hsl(210, 14%, 89%);
    --grey-4:   hsl(210, 14%, 83%);
    --grey-3:   hsl(210, 11%, 71%);
    --grey-2:   hsl(208,  7%, 46%);
    --grey-1:   hsl(210, 10%, 23%);
    --grey-0:   hsl(210, 11%, 15%);

    --hint-1:   hsl(360, 74%, 59%);
    --hint-2:   hsl(359, 50%, 35%);
    --hint-3:   hsl(359, 50%, 90%);
    --hilite:   hsl( 48, 60%, 50%);

    // == Link styles (to be inherited)
    --link-hv:  var(--hint-3);  // hover colour
    --link-rv:  var(--grey-0);  // reverse colour (used for some buttons)

    // == Various dark-mode–able things
    --site-top-bar: #000;
    --site-top-link-outline: #{rem(2)};
    --masthead-super-text: var(--grey-5);

    --project-image-filter: brightness(.8) contrast(1.15);
    --project-link-tx: var(--grey-5);
    --project-link-hv: var(--grey-5);
    --project-link-bg: var(--grey-1);

    --block-accent-tx: var(--hint-3);
    --block-accent-link-tx: var(--grey-5);
    --block-accent-link-ul: var(--hilite);
    --block-accent-link-hv: var(--hilite);
    --block-accent-link-rv: var(--grey-0);
  }
}

/// ==========================================================================
/// # Everything else
/// ==========================================================================
html,
body {
  margin: 0;
  padding: 0;
  background: var(--grey-0);
  color: var(--grey-4);
  overflow-x: hidden;
}

/// Basic link styles
/// ==========================================================================
a {
  --shadow: #{rem(2)}; // make this a variable so we can override it later

  border-bottom: 1px solid var(--link-ul);
  outline: 0; // we’re replacing this with something nicer

  color: var(--link-tx);
  text-decoration: none;
  box-shadow: var(--link-ol) 0 0 0 0;

  transition: color .15s, box-shadow .15s;

  &:hover { color: var(--link-hv); }
  &:focus { box-shadow: var(--link-ol) 0 0 0 var(--shadow); }
}

/// Code stuff
/// ==========================================================================
pre {
  margin: 1em 0;
  padding: dimension(gutter);
  max-width: calc(100vw - #{3.5 * dimension(gutter)});
  overflow: auto;
  background: var(--grey-3);
}

code {
  display: inline-block;
  padding: 0 .2em;
  background: var(--smoke-3);

  @include ffm(mono);
  font-weight: normal;

  pre & {
    color: var(--grey-1);
    background: transparent none;
    font-size: .8em;
    line-height: 1.5;
  }
}
