= link_to_with_icon '', url_for( action: :stats, id: content.id ),   :tachometer, title: prompt_t( content, :stats_button ),   class: 'btn btn--smol btn--outline btn--icon-only'
= link_to_with_icon '', url_for( action: :edit, id: content.id ),    :edit,       title: prompt_t( content, :edit_button ),    class: 'btn btn--smol btn--outline btn--icon-only'
= link_to_with_icon '', url_for( action: :destroy, id: content.id ), :trash,      title: prompt_t( content, :destroy_button ), class: 'btn btn--smol btn--outline btn--icon-only btn--dangerous'
