-# Get our messages
- messages = form.object.get_messages_for( field[:field], %i{ blank }).to_json

= render layout: 'admin/cms/form/fields/wrapper', locals: local_assigns do
  = form.check_box( field[:field], class: "form__input #{field[:class]}", required: field[:required], 'data-messages': messages )
  = label_element( local_assigns )
