- if @allow[:update]
  = link_to_with_icon '', url_for( action: :edit, id: content.id ),    :edit,  title: prompt_t( content, :edit_button ),    class: 'btn btn--smol btn--outline btn--icon-only'
- if @allow[:destroy]
  = link_to_with_icon '', url_for( action: :destroy, id: content.id ), :trash, title: prompt_t( content, :destroy_button ), class: 'btn btn--smol btn--outline btn--icon-only btn--dangerous'
