/// ==========================================================================
/// #
/// # Styles for banner component.
/// #
/// ==========================================================================

.banner {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  border-bottom: 1px solid var(--keyline);

  box-shadow: rgba(0, 0, 0, .05) 0 0 5px 0;
}

/// Page title
/// ==========================================================================
.banner__title {
  flex: 1;
  padding: rem(40) rem(30);
  margin:  0;
}

/// Sign out link
/// ==========================================================================
.banner__signout {
  margin-right: rem(30);
}
