.stats-grid
  = render partial: 'admin/dashboard/display/graph', locals: { title: 'Global views' }

  = render partial: 'admin/dashboard/display/table', locals: { title: 'Popular articles', axis: :content, add: { ct: 'Article' }}

  = render partial: 'admin/dashboard/display/table', locals: { title: 'Browsers', axis: :ua }
