.stats-grid
  - if params[:ua]
    = render partial: 'admin/dashboard/display/graph'
  - else
    = render partial: 'admin/dashboard/display/standalone-filters'

  - unless params[:v]
    = render partial: 'admin/dashboard/display/table', locals: { axis: :ua, variant: :version }

  = render partial: 'admin/dashboard/display/table', locals: { axis: :country, unlink: true }
