/// ==========================================================================
/// #
/// # Preloader sprite
/// #
/// ==========================================================================

@critical {
  @keyframes phi
  {
    to { opacity: 1; }
  }
  @keyframes phf
  {
    to  { fill-opacity: .05; }
  }
}

.pl {
  @critical {
    position: fixed;

    top:  50%;
    left: 50%;
    height: 30vmin;
    width:  30vmin;
    transform: translate(-50%, -50%);

    background: #fff;
    z-index: 0;

    .i {
      opacity: 0;
      animation: phi .2s 1 .5s both;
    }

    use {
      --d: 1s;
      --o: 0s;
      animation: phf var(--d) linear infinite var(--o) alternate both;
      fill-opacity: 0;

      &:nth-child(2n) { --d: 1.33s; }
      &:nth-child(3n) { --d: 1.67s; }
      &:nth-child(2n+1) { --o: .1s; }
      &:nth-child(3n+2) { --o: .25s; }
    }

    ~ * { // sass-lint:disable-line no-universal-selectors
      opacity: 0;
      transition: opacity .3s .2s;
    }
  }

  opacity: 0;
  transition: opacity .3s .2s;

  g use { animation-play-state: paused; }

  ~ * { opacity: 1; } // sass-lint:disable-line no-universal-selectors
}
