= form_with model: @form_context, scope: :content, local: true,  html: { class: 'form', novalidate: true } do |form|

  -# if we have a back to param, make sure that’s persisted
  - if params.key?( :back_to )
    %input{ type: :hidden, name: :back_to, value: params[:back_to] }

  -# Output form fields
  = render partial: partial_for( :fields, :form ), locals: { form: form, fields: form_definition[:fields] }

  -# And the buttons
  = render partial: partial_for( :buttons, :form ), locals: { form: form }
