%meta{ charset: 'utf-8' }
= csrf_meta_tags

%title jonpearse.net admin

%meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
%script<
  if(document.documentElement.classList){document.documentElement.classList.remove("no-js");document.documentElement.classList.add("js");}