%nav.page__nav.main-navigation{ data: { behaviour: 'navigation' }}
  %ul.main-navigation__list
    = render partial: 'layouts/admin/nav/item', collection: normalise_navigation, locals: { top: true } if user_signed_in?
    %li.main-navigation__item
      %a.main-navigation__link{ href: root_path }
        -# = icon 'sign-out-alt'
        %span.main-navigation__text Main website
