- @page_title = 'Writing'

-# Masthead
- content_for( :masthead ) do
  = render partial: 'masthead'

-# content
= render_block( container: :ol, container_classes: '-narrow list', classes: '#nc' ) do
  - @articles.each do |article|
    %li= render article

-# Pagination
= render partial: 'pagination', locals: { content: @projects }
