:ruby

  # default the value
  value ||= nil

  # get an instance ID if appropriate
  id = value.nil? ? '{{id}}' : value.id

.content-select__instance{ data: { instance: true, id: id }}
  %input{ type: :hidden, name: field[:instance], value: id }
  %span.content-select__label= (value.nil? ? '{{_meta.label}}' : value.to_s )
