%ol.stats__filters{ 'data-behaviour': 'stats-filters' }
  - t( 'stats.periods' ).each_pair do |short,label|
    %li.stats__filter
      %button.btn.btn--smol.btn--outline{ 'data-period': short, title: label }= short
