/// ==========================================================================
/// #
/// # Block styles
/// #
/// ==========================================================================

.block {
  display: flex;
  justify-content: center;
  padding: dimension(padding) 0;

  /// Size-ways
  /// ========================================================================
  &.-large { @include fsz(intro); }

  /// Colourways
  /// ========================================================================
  &.-alt { background: var(--grey-1); }

  &.-accent {
    --link-tx: var(--grey-0);
    --link-ul: var(--grey-5);
    --link-hv: var(--hilite);

    background: var(--hint-2);
    color: var(--grey-0);
  }

  /// Padding
  /// ========================================================================
  &.-moar { padding: #{dimension(padding) * 2} 0; }

  &.-moar-bottom { padding-bottom: #{dimension(padding) * 2}; }

  &.-no-top { padding-top: 0; }
}
