/// ==========================================================================
/// #
/// # Container styles
/// #
/// ==========================================================================

.container {
  $dim: 1px * map-get($dimensions, gutter);

  @critical {
    width: 100%;
    max-width: calc(#{dimension(max-width)} + #{2 * $dim});
    padding: 0 $dim;

    &.-d {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }
  }

  @critical {
    @include mq(medium) {
      &.-narrow {
        width: 83.333333%;
        max-width: calc(#{dimension(max-text)} + #{2 * $dim});
      }
    }
  }

  // drivers are weird
  @include mq(medium) {
    .driver & { max-width: #{(dimension(max-width) / 2) + dimension(gutter)}; }
  }
}
