/// ==========================================================================
/// #
/// # Basic list-as-a-template-component styles
/// #
/// ==========================================================================

.list {
  li + li { margin-top: dimension(padding); }

  h2,
  h3 { margin: 0; }

  p:first-child { margin-top: .5em; }

  &.-tight li + li { margin-top: #{dimension(padding) / 2}; }
}
