= form_with model: @form_context, class: 'form form--dialog', method: :delete do |form|
  %p= prompt_t( @content, :confirm_destroy, title: @content.to_s )

  .form__buttons
    %button.btn.btn--outline.btn--dangerous.btn--large{ type: :submit, name: :confirm }= prompt_t( @content, :confirm_destroy_button )
    = link_to prompt_t( @content, :cancel_button ), { action: :index }, class: 'btn btn--large'
